# Turso (libSQL) Remote Database Instance Credentials
TURSO_DATABASE_URL=libsql://nest-daycare-abhinav02.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODY4MTM2OTMsImlkIjoiMDFhMDA2MzktODIwMS03YjUwLWJkMzktYjExZDExYzNhMDRjIiwia2lkIjoiY2RHN3VHbE5YbU1QOUlLc0wxWkItRUhqM0k3Q3hkd04xNDVxRHJiT0NwSSIsInJpZCI6IjcxMzc4YzQzLTdhM2YtNDBmYy1iYmEwLTY1YmNlNDYxNDQ1OSJ9.G2vEMVs2WPHp-uoN4YMBtX1Q402InPMhv61dBGxuCE0isnKeEIZ3rlKbpwbbWg2qR5Esmh80ocn0MvjJRmb2Cg

# Authorized Production Target
VITE_API_URL=https://daycare-portal.vercel.app/api
NEXT_PUBLIC_API_URL=https://daycare-portal.vercel.app/api
