# PostgreSQL Database Connection String (Neon, Supabase, Railway, etc.)
DATABASE_URL=postgresql://user:password@ep-cool-pool-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Vercel / Environment API URL (for Frontend)
NEXT_PUBLIC_API_URL=https://uae-tuition-daycare-erp.vercel.app/api
VITE_API_URL=https://uae-tuition-daycare-erp.vercel.app/api
